.container {
  isolation: isolate;
}

.title {
  margin-top: 100px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.04rem;
  max-width: 10ch;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.05em;
}

.titleMain {
  color: hsl(180, 20%, 20%);
  opacity: 0.9;
  mix-blend-mode: color-burn;
}

.titleOverlay {
  mix-blend-mode: revert;
  z-index: 2;
  color: #111;
  opacity: 0.3;
}

.canvasContainer {
  height: 76vh;
  width: 100vw;
  position: absolute;
  top: auto;
  left: 0;
  transform-origin: -1000px 100%;
  transform: skewY(-11deg);
  overflow: hidden;
  z-index: -1;
}

.canvas {
  width: 100%;
  height: 100%;
}
